
        * {
            margin: 0;
            padding: 0;
        }

        ul,
        li {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        #wrap {
            width: 100%
        }

        #wrap>div {
            width: 100%;
            height: 100vh
        }

        #wrap>div:nth-child(1) {
            /*background-color: burlywood;*/
            background: url(../images0/main_img.png) no-repeat 0 0;
            background-size: cover;
        }

        #wrap>div:nth-child(2) {
            background: #EEE3D1;
        }

        #wrap>div:nth-child(3) {
            background-color: rgb(135, 222, 208);
        }

        #wrap>div:nth-child(4) {
            background-color: rgb(135, 183, 222);
        }

        #wrap>div:nth-child(5) {
            background-color: rgb(222, 135, 208);
        }

        #wrap>div>div {
            /* margin: 0 auto; */
            width: 1500px;
            height: 100vh;
            /* background-color:rgba(255, 244, 146, 0.5); */
        }

        #main .header {
            width: 100%;
            height: 120px;
            margin-left: 40%;
        }

        #main .logo {
            float: left;
            margin: 20px 0 0 0;
            width: 180px;
            height: 80px;
            color: #716E64;
        }

        #main .nav {
            float: right;
            margin: 50px 0 0 0;
        }

        #main .nav li {
            float: left;
            margin-right: 50px;
        }

        #main .nav a {
            font-size: 30px;
            font-weight: 400;
            color: #e0e0e0;
            font-family: 'Scarlett Busiat_Demo';
        }

        #main .nav li.on a {
            color: #000;
        }

        #main h2 {
            float: left;
            width: 100%;
            margin: 100px 0 20px 30%;
            font-size: 100px;
            text-align: center;
            /* padding-right: 100px; */
            box-sizing: border-box;
            font-family: 'Scarlett Busiat_Demo';
            color: #FFDEAF;
            font-weight: 500;
        }

        #main p {
            /* float: right;
            margin: 20px 0px 0 0; */
            font-size: 20px;
            color: #D6CBC2;
            text-align: center;
            /* padding-top: 300px; */
            font-family: 'Scarlett Busiat_Demo';
            color: #e8c89c;
            font-weight: 500;
            margin-left: 60%;
        }

        #q_mn {
            position: absolute;
            right: 20px;
            top: 300px;
            z-index: 9999;
            width: 120px;
            height: 200px;
            border-radius: 6px;
            border: 1px solid  #184B44;
            background-color: #fff;
        }

        #q_mn ul.nav {
            margin: 0 auto;
            margin-top: 10px;
            list-style: none;
            width: 50px;
        }

        #q_mn ul.nav li {
            margin-bottom: 15px
        }

        #q_mn ul.nav li a {
            font-family: 'Ink Free';
            color: #b3afaf;
            font-size: 20px;
            color: #184B44;
            font-weight: 600;
        }

        #q_mn ul.nav li.on a {
            color: rgb(15, 15, 15);
        }

        #profile {
            width: 100%;
            height: 100vh;
            display: flex;
        }
        #profile h3{
            height: 100px;
            font-family: 'Scarlett Busiat_Demo';
            color: #184B44;;
            font-weight: 400;
            font-size: 110px;
            /* margin-left:150px; */
        }
        #profile .pro_area{
            width: 1200px;
            height: 100vh;
        }
        #profile .in_profile{
            width: 1200px;
            height: auto;
            display: flex;
            padding-top: 90px;
            position: relative;
            z-index: 100;
            border:1px solid red;
            flex-direction: column;
        }
        #profile .in_profile .in_txt{
            width: 100%; height: 200px;
        }
        #profile .in_profile .group{display: flex;}
        #profile .photo{
            width: 500px;
            height: 770px;
        }
        #profile .in_profile .pro_mn{
            width: 600px;
            height: 770px;
            background-color: #eee;
        }
        #profile .in_profile .pro_mn h3{
            font-family: 'Ink Free';
            color: #184B44;
            font-size: 50px;
            padding: 50px 0 0 50px;
            width: 550px;
            height: 120px;
            border-bottom: 1px solid #184B44;;
        }
        
        #profile .pro_wrap{
            width: 2800px;
            height: 80vh;
            /* background-color: #184B44; */
            padding-top: 80px; 
            float: right;
            background:url(../images0/Untitled-2.png) no-repeat 0 0;
            position: relative;
            left: -300px;
            z-index: 90;
        }
        #profile .pro_wrap .pro_box{ 
            display: none;
            width: 1300px;
            height: 80vh;
            background:url(../images0/Untitled-2.png) no-repeat 0 0;
            float:left;
            /* margin-left: 30%; */
            border: 2px solid red;
        }
        #skill{
            width: 100%;
            height: 100vh;
        }
        #skill .sk_img{
            width: 1200px;
            height: 95vh;
            background-color: #4460AA;
            margin: 0 auto;
        }
        #skill .sk_img > img{
            width: 550px;
            height: 1050px;
            /* border: 5px solid #9E7653; */
        }

        #skill .in_skill {
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #skill .skill_list {
            display: flex;
        }

        #skill .skill_list img{
            width: 50px;
            height: 50px;
        }
        #skill .skill_list ul{
            float: left;
            margin-right: 5px;
            text-align: center;
            background-color: #184B44;
            width: 470px;
            height: 400px;
        }

        

        #project_1 {
            width: 100%;
            height: 100vh;
            display: flex;
        }

        #project_1 .in_project_1 {
            width: 50%;
            height: 100vh;
            background-color: #b3afaf;
        }
        #project_1 .in_project_2{
            width: 50%;
            height: 100vh;
            background-color: #e8c89c;
        }

        


        /*메일서버*/
        .field {
            margin-bottom: 10px;
        }

        .field label {
            display: block;
            font-size: 12px;
            color: #777;
        }

        .field input {
            display: block;
            min-width: 250px;
            line-height: 1.5;
            font-size: 14px;
        }

        input[type="submit"] {
            display: block;
            padding: 6px 30px;
            font-size: 14px;
            background-color: #4460AA;
            color: #fff;
            border: none
        }